*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background: hsl(0, 0%, 95%);
}
main{
    padding: 25px 0;
    margin-left: 500px;

}
section{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    line-height: 1.5em;
}
.article-1{
    height: 400px;
    width: 280px;
    background: hsl(31, 77%, 52%);
    padding: 25px 35px;
    border-radius: 7px 0 0 7px;
}
.article-2{
    height: 400px;
    width: 280px;
    background:  hsl(184, 100%, 22%);
    padding: 25px 35px;
}

.article-3{
    height: 400px;
    width: 280px;
    background: hsl(179, 100%, 13%);
    padding: 25px 35px;
    border-radius: 0 7px 7px 0;
}
button{
    width:120px;
    height: 40px;
    border: none;
    border-radius: 25px;
    margin-top: 65px ;
    background:hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

h2{
    padding: 15px 0;
    margin-bottom: 15px;
    color:hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 30px;
}
p{
    color:hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}
.a{
    color: hsl(31, 77%, 52%);
    /* margin-top:20px; */
}
.b{
    color:  hsl(184, 100%, 22%);
}
.c{
    color:hsl(179, 100%, 13%)
}
@media screen and (min-width:760px){
    section{
        flex-direction: row;
    }
    main{
        margin-left:250px;
        margin-top: 100px;

    }
}